{% extends "base.html" %} {% load static %} {% block content %}

<div class="d-flex flex-wrap px-5 py-3 align-items-center">
  <div class="col-6">
    <h1>Welcome to AmarCar</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, provident
      enim aspernatur ab quaerat recusandae odio aut est dolorem nostrum amet
      quasi libero nam? Culpa placeat, quia excepturi odit laborum eos est quas
      dolores dicta debitis harum, nostrum vel molestiae labore sint amet,
      aliquam illo quae iste itaque a beatae repellat quisquam exercitationem?
      Nemo reprehenderit commodi expedita, laudantium totam accusantium ea modi
      iure odio ut iste, molestias voluptatum facilis, laborum minima quis
      placeat amet dolorem similique voluptate. Aperiam dicta eveniet provident
      doloribus pariatur ipsum quod in necessitatibus fugit obcaecati eius,
      illo, earum deserunt non perferendis aliquid quibusdam alias corrupti
      laudantium.
    </p>
  </div>
  <div class="col-6">
    <img class="img-fluid" src="{% static 'header.jpg' %}" alt="img" />
  </div>
</div>

<div class="container-fluid bg-white min-vh-100">
  <div class="row min-vh-100">
    <div class="col-12 bg-white p-3">
    <h5 class="text-center">All Car Brands</h5>
    <div class="row mt-2 justify-content-center">
        <div class="col-auto mb-2">
            <a href="{% url 'all_car' %}" class="btn btn-outline-dark">All</a>
        </div>
        {% for brand in brands %}
        <div class="col-auto mb-2">
            <a href="{% url 'brand_wise_car' brand.slug %}" class="btn btn-outline-dark">{{brand.name}}</a>
        </div>
        {% endfor %}
    </div>
    <h3 class="text-center py-2">Total Car found: {{data|length}}</h3>
  </div>
  <div class="col-12 p-3">
      <!-- Main Content -->
      <div class="d-flex flex-wrap mt-4 justify-content-around">
        {% for car in data %}
        <div class="card mb-3" style="width: 20rem">
          <img
            class="card-img-top"
            style="height: 45%"
            src="{{ car.image.url }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">
             {{ car.name }}
            </h4>
            <p class="card-text"><b>Description: </b>{{ car.description|truncatewords:10 }}</p>
            <p><b>Price: </b> {{ car.price }}</p>
            <p><b>Brands: </b> {{ car.brand_name.name }}</p>
          </div>
          <div class="card-footer d-flex justify-content-center btn-group"> <a href="{% url 'detail_car' car.id %}"
                class="btn btn-primary">Car Details</a></div>
          
        </div>
        {% endfor %}
      </div>
  </div>
</div>
</div>
{% endblock content %}
