{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post" style="width:50%;margin:auto" novalidate>
   <h1>Password Change Page</h1>
   {% if form.non_field_errors %}
   {% for er in form.non_field_errors %}
   <div class="alert alert-danger" role="alert">
      {{er}}
   </div>
   {% endfor %}
   {% endif %}
   {% csrf_token %}
   <!-- {{form|crispy}} -->
   {% for fm in form %}
   {{fm.label_tag}}
   {{fm}}
   <p class="text-danger">{{fm.errors|striptags}}</p>
   
   <br/>
   {% endfor %}
   <button class="btn btn-primary" type="submit">Change Password</button>
</form>
{% endblock content %}

